/*input.text {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid;
	padding-left: 5px;
	
}
*/

body{
	font-family: Times-New-Roman;
}
#import-formct {
	display: none;
	width: 20%;;
	left: 35%;
	height: 150px;
	top: 30%;
	/*bottom: 65%;*/
	position: absolute;
	background-color : #DCEAF5;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	font-size: 60px;	
	border: outset;
	border-color: #0000FF;
}
label {
	font-size: 16px;
/* 	margin-bottom: 10px; */
}

.lable1 {
	margin-right: 20px;
}

.radio {
	margin-bottom: 20px;
}

label.input {
	font-size: 16px;
	text-align: left;
	padding-left: 2px;
	/*	padding-right: 10px;*/
}

input.text {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(189, 195, 199);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	/*	opacity: 1;*/
	/*	left: 12px;*/
	/*	top: 25px;*/
	height: 25px;
	font-size: 16px;
	padding-left: 20px;
/* 	margin-bottom: 10px; */

	/*	margin: 5px;*/
	/*    margin-bottom: 10px;*/
}
textarea.text {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(189, 195, 199);
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	/*	opacity: 1;*/
	/*	left: 12px;*/
	/*	top: 25px;*/
	height: 80px;
	font-size: 16px;
	padding-left: 20px;
	margin-bottom: 10px;
	font-family: "Times New Roman";
		/*	margin: 5px;*/
	/*    margin-bottom: 10px;*/
}

input.text:focus {
	border-width: 2px;
}
.page{
	border-radius: 3px;
	height: 25px;
	width: 27px;
}
.pageMove {
	border-radius: 3px;
	height: 25px;
	width: 80px;
}
.page:active{
	background-color:#54a3f7;
}
.page:focus{
	background-color:#54a3f7;
}
.button {
	border-radius: 6px;
	background-color: #199e5e;
	height: 35px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-color: none;
	color: floralwhite;
	text-align: center;
	border: none;
	cursor: pointer;
}

.button:hover {
	background-color: #0a6114;
}

.input select {
	border-radius: 5px;
	background-color: #199e5e;
	height: 35px;
	padding-left: 20px;
	padding-right: 20px;
/* 	padding-top: 5px; */
/* 	padding-bottom: 5px; */
	border-color: none;
	color: floralwhite;
	padding: 10px;
	text-align: center;
	border: none;
	font-size: 16px;
}

.input select:focus {
	background: #0a6114;
}

.input select option {
	border-radius: 5px;
	background-color: rgb(252, 252, 252);
	height: 40px;
	border-color: none;
	color: blueviolet;
	padding: 10px;
	text-align: center;
	border: none;
	font-size: 16px;
}

.input option:hover {
	background: #0a6114;
}

.button-group {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}

td.input {
	text-align: left;
	padding-left: 2px;
	font-weight: bold;
	padding-right: 5px;
	/*	padding-right: 2px;*/
}

.select {
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	height: 25px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(189, 195, 199);
	/*	color: floralwhite;*/
	color: black;
	/*	padding: 5px;*/
	/*	text-align: center;*/
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	/*    margin-right: 20px;*/
}

.select option {
	background-color: rgb(252, 252, 252);
	height: 25pxx;
	border-color: none;
	color: blueviolet;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	/*	color: floralwhite;*/
	color: black;
	text-align: center;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}

.select option:hover {
	background: #0a6114;
}

.select:focus {
	background: rgb(255, 255, 255);
}

.form-title {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #199e5e;
	margin-bottom: 20px;
}

.check {
	width: 25px;
	margin: 20px 100px;
	position: relative;
}

.checkAll {
	text-align: center;
}

/*#main-content {
	height: 850px;
	
}
*/
.view-tbao table tr{
	
	
	font-size: 20px;
	
}
.view-tbao table tr td{
	
/* 	cell-spacing: 0px; */
	border-width: 1px;
	font-size: 20px;
	border-spacing: 0px ;
	border-spacing: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.view-tbao table tr th{
	
/* 	cell-spacing: 0px; */
	border-width: 1px;
	font-size: 20px;
	border-spacing: 0px ;
	border-spacing: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}


.view-cvnew table tr th{
	color: black;
	text-align: center;
	font-size: 17px;
	text-align: center;
}
.view-cvnew table tr td{
	color: black;
	text-align: center;
	font-size: 17px;
	text-align: center;
	
}
.view-cvnew{
/* 	position: absolute; */
	left:10%;
	
}

.view-tbao{
	/*top:28%;
	left:18%;
	position: absolute;*/
	border-style: solid;
	border-width: 2px;
	border-radius: 5px;
	border-color: #2CCAAE;
	
}
.view-nky table {
	border: 2px;
}

.view-nky table tr th{
	color: black;
	text-align: center;
	font-size: 17px;
	
}
.view-nky table tr td{
	color: black;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	font: 17px;
		
}
.view-nky{
	/*top:28%;
	left:51%;
	position: absolute;*/
	
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #2CCAAE;
	
	
}
.search-form {
	background-color: red;
	border-radius: 5px;
	border-color: red;
	border-width: medium;
	position: absolute;
	height: 50px;
	z-index: 60;
}